<!-- #3 -->
<%= form_for [user, wiki] do |f| %>
    <% if wiki.errors.any? %>
    # #6
        <div class="alert alert-danger">
    # #7
            <h4><%= pluralize(wiki.errors.count, "error") %></h4>
            <ul>
                <% wiki.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    # #8
    <%= form_group_tag(wiki.errors[:title]) do %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
    <% end %>
    # #9
    <%= form_group_tag(post.errors[:body]) do %>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
    <% end %>
    <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
<% end %>